{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}
	<title>{{ post.title }} | 想玩的地點</title>
{% endblock %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
        <meta name="Author" content="UR">
        <meta property="og:title" content="{{ post.title }} | 想玩的地點"/>
        <meta property="og:description" content="{{ post.text|slice:":35" }}"/>
        <meta property="og:image" content="{{ post.imgur_url }}"/>
        <meta name="referrer" content="no-referrer"/>
</head>
<div class="container">
	<div class="post-detail">
		<div class="post-img">
            {% if post.photo.url is not null %}
                <img class="post-img-top" src="{{ post.imgur_url }}">
            {% else %}
                <img class="post-img-top" src="/media/no_image.jpg">
            {% endif %}
        </div>
        {% if post.taglist != None  %}
            {% for tag in post.taglist %}
		        <span><a href="{% url 'tag' pk=tag.pk %}" class="badge badge-secondary" style="background-color: {{ tag.color }};"><span class="glyphicon  glyphicon-tag"></span>  {{ tag.name }}</a></span>
            {% endfor %}
        {% endif %}
		<h2 class="title">{{ post.title }}</h2>
        <div class="date">
            <p><span class="glyphicon">&#xe023;</span> 發佈時間:  {{ post.created_date }}</p>
            <p><span class="glyphicon">&#xe023;</span> 最後編輯時間:  {{ post.published_date }}</p>
        </div>
        <p>
            想去指數: 
            <span style="color:#ffbb04">
                {% for i in range %}
                    {% if i  <=  post.stars %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                {% endfor %}
            </span>
        </p>
        <div>
            <p><span class="glyphicon">&#xe062;</span> {{ post.location }}</p>
            {% if post.category != 1 %}
                <p><span class="glyphicon">&#xe183;</span> {{ post.phone_number }}</p>
            {% endif %}
            <span class="glyphicon">&#xe005;</span>
            <span class="text-muted likes-total{{ post.id }}">{{ post.liked.all.count }}</span>
        </div>
        <div class="btn-group">
        {% if request.user.is_authenticated %}
            {% if request.user.id != post.author.id %}
                <form action="{% url 'like_post' %}" id="{{ post.id }}" method="POST" class="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="post_pk" id="{{ post.id }}" value="{{ post.pk }}">
                    <button type="submit" class="btn btn-default btn-sm btn-outline-secondary like-btn{{ post.id }}">
                        {% if user not in post.liked.all %}
                            Like
                    </button>
                        {% else %}
                            Unlike
                    </button>
                        {% endif %}
                    </form>
                    <button type="submit" class="btn btn-default btn-sm btn-outline-secondary">Comment</button>
            {% else %}
                <form action="{% url 'like_post' %}" id="{{ post.id }}" method="POST" class="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="post_pk" id="{{ post.id }}" value="{{ post.pk }}">
                    <button type="submit" class="btn btn-default btn-sm btn-outline-secondary like-btn{{ post.id }}">
                        {% if user not in post.liked.all %}
                            Like
                        </button>
                        {% else %}
                             Unlike
                         </button>
                        {% endif %}
                    </form>
                    <button type="button" class="btn btn-default btn-sm btn-outline-secondary">
                        <a href="{% url 'post_edit' pk=post.pk%}" style="text-decoration:none; color: inherit;">Edit</a>
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-outline-secondary">
                        <a href="{% url 'post_delete' pk=post.pk %}" style="text-decoration:none; color: inherit;">Delete</a>
                    </button>
            {% endif %}
        {% endif %}
        <br/>
        {% for co in comment %}
            <div>
                {{ co.comment_man }}說：{{ co.comment_content }}
                <small class="text-muted comment_date">{{ co.comment_date }}</small>
            </div>
        {% endfor %}
        <br/>
</div>
<div class="post-innertext">
    <p>{{ post.text | markdown | safe | linebreaks }}</p>
    <div class="b-example-divider"></div>
    <div class="text-center" style="height: 100%;">
        {{ my_map|safe }}
    </div>
    {% if nearby %}
    <div class=" px-4 py-5">
        <div class="pb-2 border-bottom "><h2>附近十公里以內的點</h2></div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% for item in nearby %}
            {% if forloop.counter == 4 %}
            <div class="col">
                <a href="{% url 'post_nearby' pk=post.pk %}">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background: url({{ item.imgur_url }});">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h1 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">查看更多</h1>
                        </div>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="col">
                <a href="{% url 'post_detail' pk=item.pk %}">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background: url({{ item.imgur_url }});">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{item.title}}</h2>
                            <ul class="list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-3">
                                    <span class="glyphicon bi me-2">&#xe062;</span>
                                  <small>{{item.location}}</small>
                                </li>
                                <li class="d-flex align-items-center">
                                  <small>距離 {{item.distance}}</small>
                                </li>
                              </ul>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}