{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
	<title>登入 | 想玩的地點</title>
{% endblock title %}

{% block content %}
<div class="text-center login-page">
	<main class="form-signin w-100 m-auto">
		<h1>Login</h1>
		<form action="{% url 'login' %}" method="post" class="login">
			{% csrf_token %}

				<div class="form-floating">
					<div class="mb-3">
						<td>{{ form.username|add_label_class:"form-label" }}</td>
						<td>{{ form.username|attr:"class:form-control" }}</td>
					</div>
				</div>
				<div class="form-floating">
					<div class="mb-3">
						<td>{{ form.password|add_label_class:"form-label"}}</td>
						<td>{{ form.password|attr:"class:form-control" }}</td>
					</div>
				</div>
			<a class="dropdown-item" href="{% url 'password_reset' %}">忘記密碼</a>
			<div class="dropdown-divider"></div>
			<input type="submit" value="login" class="w-100 btn btn-lg btn-primary">
		</form>
	</main>
</div>
{% endblock %}